.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    position:sticky;
    height: 30px;
    z-index: 1;
}

.leftbar {
    display: flex;
  
    align-items: center; 
    width: 100%;
    margin-left: 100px;
}

.logo {
    padding-right: 15px;
}

@media (max-width: 480px) {
    .navbarContainer {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        
        
        /* justify-content: center; */
    }

    .leftbar {
        margin-left: 0;
        padding-left: 20px;
    }
}